In [ ]:
"""
all companies in S&P500 in the last 10 years
"""

In [4]:
import pandas as pd
import pickle

In [19]:
sp500 = pd.read_excel('../data/sp500_10yr.xlsx')
sp500.head()

  Symbol             Security
0    MMM           3M Company
1    ABT  Abbott Laboratories
2   ABBV          AbbVie Inc.
3   ABMD              Abiomed
4    ACN            Accenture

In [16]:
# SEC list of tickers matched to cik's 
ciks = pd.read_csv("https://www.sec.gov/include/ticker.txt", header=None, 
                   delimiter='\t', names=['ticker', 'cik'], dtype={'cik':str})

In [17]:
ciks.head()

  ticker      cik
0   aapl   320193
1   msft   789019
2   amzn  1018724
3   goog  1652044
4  tcehy  1293451

In [18]:
ciks["ticker"] = ciks.ticker.str.upper()
sp_500_ciks = pd.merge(sp500, ciks, how='left', left_on='Symbol', right_on='ticker')
sp_500_ciks.head()

  Symbol             Security ticker      cik
0    MMM           3M Company    MMM    66740
1    ABT  Abbott Laboratories    ABT     1800
2   ABBV          AbbVie Inc.   ABBV  1551152
3   ABMD              Abiomed   ABMD   815094
4    ACN            Accenture    ACN  1467373

In [20]:
with open('../data/sp_500_ciks.pickle', 'wb') as to_write:
    pickle.dump(sp_500_ciks, to_write)