In [ ]:
""" 
topic modeling was done for each paragraph
weight each paragraph topic component by number of words in paragraph
calc weighted average of each topic for each report 
"""

In [1]:
import pandas as pd
import numpy as np
import pickle

In [15]:
with open('../data/topics/NMF_22_risk_topics_FINAL.pickle', 'rb') as read_file:
    risk_topics = pickle.load(read_file)

In [16]:
topics = risk_topics.reset_index()

In [17]:
topics.columns = ['level_0', 'index', 'date_filed', 'filedAt', 'formType', 'accessionNo',
       'ticker', 'cik', 'companyName', 'companyNameLong', 'linkToTxt',
       'formType2', 'sic', 'fiscalYearEnd', 'value', 'preproc_text',
       'clean_text', 'risk_topic_nmf', 'clean_text2', 'C_0', 'C_1', 'C_2',
       'C_3', 'C_4', 'C_5', 'C_6', 'C_7', 'C_8', 'C_9', 'C_10', 'C_11', 'C_12',
       'C_13', 'C_14', 'C_15', 'C_16', 'C_17', 'C_18', 'C_19', 'C_20', 'C_21',
       'risk_topics']

In [18]:
topics.drop(['level_0', 'index'], inplace=True, axis=1)

In [19]:
topics.head(2)

,date_filed,filedAt,formType,accessionNo,ticker,cik,companyName,companyNameLong,linkToTxt,formType2,...,C_13,C_14,C_15,C_16,C_17,C_18,C_19,C_20,C_21,risk_topics
0,2020-02-19,2020-02-19T21:42:50-05:00,10-K,0001562762-20-000064,T,732717,AT&T INC.,AT&T INC. (Filer),https://www.sec.gov/Archives/edgar/data/732717...,10-K,...,0.01559,0.0018,0.00036,0.04513,0.06339,0.01076,0.00853,0.00754,0.02536,Product Development
1,2020-02-19,2020-02-19T21:42:50-05:00,10-K,0001562762-20-000064,T,732717,AT&T INC.,AT&T INC. (Filer),https://www.sec.gov/Archives/edgar/data/732717...,10-K,...,0.01173,0.0000,0.00000,0.00000,0.00951,0.00000,0.03202,0.04999,0.05590,Investment

In [20]:
topics['word_count'] = topics['clean_text'].apply(lambda x: len(x))

In [21]:
topics.head(2)

,date_filed,filedAt,formType,accessionNo,ticker,cik,companyName,companyNameLong,linkToTxt,formType2,...,C_14,C_15,C_16,C_17,C_18,C_19,C_20,C_21,risk_topics,word_count
0,2020-02-19,2020-02-19T21:42:50-05:00,10-K,0001562762-20-000064,T,732717,AT&T INC.,AT&T INC. (Filer),https://www.sec.gov/Archives/edgar/data/732717...,10-K,...,0.0018,0.00036,0.04513,0.06339,0.01076,0.00853,0.00754,0.02536,Product Development,1106
1,2020-02-19,2020-02-19T21:42:50-05:00,10-K,0001562762-20-000064,T,732717,AT&T INC.,AT&T INC. (Filer),https://www.sec.gov/Archives/edgar/data/732717...,10-K,...,0.0000,0.00000,0.00000,0.00951,0.00000,0.03202,0.04999,0.05590,Investment,1080

In [23]:
topics['formType'].unique()

array(['10-K', 'NT 10-K', '10-K/A'], dtype=object)

In [40]:
f1_topics = topics[topics['formType'].isin(['10-K'])]

In [41]:
weight_topics = f1_topics.copy()

In [42]:
#weight_topics.loc[:,'C_0':'C_21'] = topics.loc[:,'C_0':'C_21'] * topics['word_count']
#above command was too much for ram

weight_topics['C_0_N'] = weight_topics['C_0'] * topics['word_count']
weight_topics['C_1_N'] = weight_topics['C_1'] * topics['word_count']
weight_topics['C_2_N'] = weight_topics['C_2'] * topics['word_count']
weight_topics['C_3_N'] = weight_topics['C_3'] * topics['word_count']
weight_topics['C_4_N'] = weight_topics['C_4'] * topics['word_count']
weight_topics['C_5_N'] = weight_topics['C_5'] * topics['word_count']
weight_topics['C_6_N'] = weight_topics['C_6'] * topics['word_count']
weight_topics['C_7_N'] = weight_topics['C_7'] * topics['word_count']
weight_topics['C_8_N'] = weight_topics['C_8'] * topics['word_count']
weight_topics['C_9_N'] = weight_topics['C_9'] * topics['word_count']
weight_topics['C_10_N'] = weight_topics['C_10'] * topics['word_count']
weight_topics['C_11_N'] = weight_topics['C_11'] * topics['word_count']
weight_topics['C_12_N'] = weight_topics['C_12'] * topics['word_count']
weight_topics['C_13_N'] = weight_topics['C_13'] * topics['word_count']
weight_topics['C_14_N'] = weight_topics['C_14'] * topics['word_count']
weight_topics['C_15_N'] = weight_topics['C_15'] * topics['word_count']
weight_topics['C_16_N'] = weight_topics['C_16'] * topics['word_count']
weight_topics['C_17_N'] = weight_topics['C_17'] * topics['word_count']
weight_topics['C_18_N'] = weight_topics['C_18'] * topics['word_count']
weight_topics['C_19_N'] = weight_topics['C_19'] * topics['word_count']
weight_topics['C_20_N'] = weight_topics['C_20'] * topics['word_count']
weight_topics['C_21_N'] = weight_topics['C_21'] * topics['word_count']

In [43]:
# year column
weight_topics['year'] = weight_topics['date_filed'].dt.year

In [44]:
weight_topics.columns

Index(['date_filed', 'filedAt', 'formType', 'accessionNo', 'ticker', 'cik',
       'companyName', 'companyNameLong', 'linkToTxt', 'formType2', 'sic',
       'fiscalYearEnd', 'value', 'preproc_text', 'clean_text',
       'risk_topic_nmf', 'clean_text2', 'C_0', 'C_1', 'C_2', 'C_3', 'C_4',
       'C_5', 'C_6', 'C_7', 'C_8', 'C_9', 'C_10', 'C_11', 'C_12', 'C_13',
       'C_14', 'C_15', 'C_16', 'C_17', 'C_18', 'C_19', 'C_20', 'C_21',
       'risk_topics', 'word_count', 'C_0_N', 'C_1_N', 'C_2_N', 'C_3_N',
       'C_4_N', 'C_5_N', 'C_6_N', 'C_7_N', 'C_8_N', 'C_9_N', 'C_10_N',
       'C_11_N', 'C_12_N', 'C_13_N', 'C_14_N', 'C_15_N', 'C_16_N', 'C_17_N',
       'C_18_N', 'C_19_N', 'C_20_N', 'C_21_N', 'year'],
      dtype='object')

In [49]:
# average the weighted topic componenets by year, date_filed, accessionNo, ticker, companyName 
weight_topics2 = weight_topics[['year', 'date_filed', 'accessionNo', 'formType', 'ticker', 
                                'companyName','sic',
                              'C_0_N', 'C_1_N', 'C_2_N', 'C_3_N',
                               'C_4_N', 'C_5_N', 'C_6_N', 'C_7_N', 'C_8_N', 'C_9_N', 'C_10_N',
                               'C_11_N', 'C_12_N', 'C_13_N', 'C_14_N', 'C_15_N', 'C_16_N', 'C_17_N',
                               'C_18_N', 'C_19_N', 'C_20_N', 'C_21_N']]

In [50]:
weight_topics2.head(2)

,year,date_filed,accessionNo,formType,ticker,companyName,sic,C_0_N,C_1_N,C_2_N,...,C_12_N,C_13_N,C_14_N,C_15_N,C_16_N,C_17_N,C_18_N,C_19_N,C_20_N,C_21_N
0,2020,2020-02-19,0001562762-20-000064,10-K,T,AT&T INC.,4813 Telephone Communications (No Radiotelephone),0.0,2.5438,30.6915,...,0.0,17.24254,1.9908,0.39816,49.91378,70.10934,11.90056,9.43418,8.33924,28.04816
1,2020,2020-02-19,0001562762-20-000064,10-K,T,AT&T INC.,4813 Telephone Communications (No Radiotelephone),0.0,17.7228,72.7272,...,0.0,12.66840,0.0000,0.00000,0.00000,10.27080,0.00000,34.58160,53.98920,60.37200

In [51]:
report_topics = weight_topics2.groupby(['year', 'date_filed', 'accessionNo', 'formType', 'sic', 'ticker', 'companyName']).mean().reset_index()

In [52]:
report_topics.head(2)

,year,date_filed,accessionNo,formType,sic,ticker,companyName,C_0_N,C_1_N,C_2_N,...,C_12_N,C_13_N,C_14_N,C_15_N,C_16_N,C_17_N,C_18_N,C_19_N,C_20_N,C_21_N
0,2011,2011-01-26,0001193125-11-014919,10-K,6141 Personal Credit Institutions,DFS,Discover Financial Services,5.584129,3.066305,10.936688,...,4.972138,4.016560,6.703711,18.419776,8.177222,7.926849,24.056956,9.213463,3.122806,13.527562
1,2011,2011-01-26,0001193125-11-014958,10-K,2090 Miscellaneous Food Preparations &amp; Kin...,MKC,MCCORMICK & CO INC,3.773130,8.638299,16.756952,...,7.475333,4.462469,4.359980,0.570886,2.605130,14.039990,4.008455,1.592415,8.630127,19.832240

In [53]:
report_topics.ticker.value_counts()

HWM     10
YUM     10
ORLY    10
MCO     10
MET     10
        ..
IEX      1
NU       1
LYV      1
PCS      1
PAYC     1
Name: ticker, Length: 575, dtype: int64

In [54]:
#report_topics.to_excel('review_topics_report_level.xlsx', index=False)

In [56]:
report_topics['ticker_year'] = report_topics['ticker'] + '_' + report_topics['year'].astype(str)

In [57]:
report_topics.head()

,year,date_filed,accessionNo,formType,sic,ticker,companyName,C_0_N,C_1_N,C_2_N,...,C_13_N,C_14_N,C_15_N,C_16_N,C_17_N,C_18_N,C_19_N,C_20_N,C_21_N,ticker_year
0,2011,2011-01-26,0001193125-11-014919,10-K,6141 Personal Credit Institutions,DFS,Discover Financial Services,5.584129,3.066305,10.936688,...,4.016560,6.703711,18.419776,8.177222,7.926849,24.056956,9.213463,3.122806,13.527562,DFS_2011
1,2011,2011-01-26,0001193125-11-014958,10-K,2090 Miscellaneous Food Preparations &amp; Kin...,MKC,MCCORMICK & CO INC,3.773130,8.638299,16.756952,...,4.462469,4.359980,0.570886,2.605130,14.039990,4.008455,1.592415,8.630127,19.832240,MKC_2011
2,2011,2011-01-27,0000796343-11-000003,10-K,7372 Services-Prepackaged Software,ADBE,ADOBE SYSTEMS INC,8.297228,14.661515,7.967888,...,4.925194,7.813456,2.410104,17.577878,32.538083,2.791825,8.750564,13.307759,12.335037,ADBE_2011
3,2011,2011-01-27,0001193125-11-016253,10-K,5961 Retail-Catalog &amp; Mail-Order Houses,AMZN,AMAZON COM INC,2.012721,7.593752,3.399372,...,3.923706,7.186137,1.661762,3.619441,25.972473,8.807608,3.476674,3.080109,15.646035,AMZN_2011
4,2011,2011-01-28,0001065088-11-000003,10-K,"7389 Services-Business Services, NEC",EBAY,EBAY INC,3.048407,22.189821,35.948725,...,6.606716,13.187547,13.035927,22.637687,34.606789,9.735240,11.517763,5.449361,28.927050,EBAY_2011

In [58]:
with open('../data/topics/NMF_report_risk_topics.pickle', 'wb') as to_write:
    pickle.dump(report_topics, to_write)